<header class='navbar'>
    <input type="checkbox" id='check'>
    <label for="check" class='show-menu-btn'><i class="fa fa-bars" aria-hidden="true"></i>
    </label>
    <div class="navbar-container">
        <div class="navbar-wrapper">
            <nav class="navbar-main-nav">
                <ul class="navbar-main-nav-list">
                    <li class="navbar-main-nav-item">
                        <a href='#' class="navbar-main-nav-links">Home</a></li>
                    <li class="navbar-main-nav-item">
                        <a href='#' class="navbar-main-nav-links">Fasihon <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="navbar-main-nav-item">
                        <a href='#' class="navbar-main-nav-links">Categories <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="navbar-main-nav-logo">Shop "R" Us</a>
            <nav class="navbar-main-nav">
                <ul class="navbar-main-nav-list">
                    <li class="navbar-main-nav-item">
                        <a href='#' class="navbar-main-nav-links">Products <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="navbar-main-nav-item">
                        <a href='#' class="navbar-main-nav-links">Pages <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="navbar-main-nav-item">
                        <a href='#' class="navbar-main-nav-links">Featured <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
    
            <label for="check" class='hide-menu-btn'><i class='fa fa-times'></i></label>
        
        </div>
    </div>


</header>

