$text-black: #151515;
$light-green: #c31432;

.filter {
    background: #fbfbfb;
    height: auto;
    z-index: 1000;

    &-dropdown {
        padding: 1rem;
        height: auto;
        position: relative;

        &-button {
            padding: .6rem 1.5rem;
            background: #282d3b;
            border: none;
            color: #fff;
            cursor: pointer;

            &:focus,
            &:active {
                outline: transparent;
            }
        }

        &-button label {
            cursor: pointer;
        }

        &-content {
            display: flex;
            flex-direction: column;
            background: #e9e9e9;
            visibility: hidden;
            position: absolute;
            z-index: 10;
            
            &-item {
                text-decoration: none;
                width: 100%;
                font-size: 1.4rem;
                padding: .5rem 1rem;
                color: $text-black;
                cursor: pointer;

                &:hover {
                    background: $light-green;
                    color: #fff;
                }
            }
        }
    }

    #chk:checked ~ &-dropdown-content {
        visibility: visible;
        transition: all .5s;
    }

    #chk {
        visibility: hidden;
        z-index: -100;
        position: absolute;
    }

    &-brand {
        padding: 1rem;

        &-form {
            padding: 1rem 0;
            border-bottom: 2px solid $light-green;

            &-label {
                font-size: 1.4rem;
                margin-bottom: .5rem;
                color: $text-black;
            }

            &-control {
                padding: .5rem;
                margin: .5rem 0;

                &:focus,
                &:active {
                    outline: transparent;
                    border: 2px solid $light-green;
                }
            }

            &-button {
                padding: .6rem 1.5rem;
                background: #282d3b;
                border: none;
                color: #fff;
                cursor: pointer;

                &:focus,
                &:active {
                    outline: transparent;
                }
            }
        }
    }

    &-price {
        padding: 1rem;

        &-label {
            color: $text-black;
            font-size: 1.4rem;
        }

        &-slider {
            padding: 1rem 0;

        }

        &-button {
            padding: .6rem 1.5rem;
            background: #282d3b;
            border: none;
            color: #fff;
            cursor: pointer;

            &:focus,
            &:active {
                outline: transparent;
            }
        }
    }

    &-remove-filters {
        font-size: 1.2rem;
        margin: 1rem;
        color: $light-green;

        &:hover {
            color: $text-black;
            cursor: pointer;
        }
    }
}



@media all and (max-width: 48em) {

    .filter-dropdown-button {
        font-size: 2.3rem;
    }

    .filter-price-label {
        font-size: 2.4rem;
    }

    .filter-dropdown-content-item {
        font-size: 2.1rem;
    }

    .filter-brand {

         &-form-button {
        font-size: 2.3rem;
         }

         &-form-label {
            font-size: 2.3rem;
         }
    }

    .filter-price-button {
        font-size: 2.3rem;
    }

    .filter-remove-filters {
        font-size: 2.3rem;
    }

}

::ng-deep {
      .ng5-slider {

        .ng5-slider-selection {
          background: $light-green !important;
        }

        .ng5-slider-pointer {
            background-color: $light-green !important;

            &.ng5-slider-active:after {
                background-color: #fff !important;
            }

        }
      }
    
  }