<div class="nav-top">
    <div class="nav-top-container">
        <div class="nav-top-social">
            <ul class="nav-top-social-list">
                <li href=# class="nav-top-social-list-item"><i class="fa fa-facebook-square" aria-hidden="true"></i>
                </li>
                <li href=# class="nav-top-social-list-item"><i class="fa fa-instagram" aria-hidden="true"></i>
                </li>
                <li href=# class="nav-top-social-list-item"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                </li>
                <li href=# class="nav-top-social-list-item"><i class="fa fa-youtube-square" aria-hidden="true"></i>
                </li>
            </ul>
        </div>
        <div class="nav-top-wrapper">
            <div class="nav-top-left">
                <nav class="nav-top-left-main">
                    <ul class="nav-top-left-list">
                        <li class="nav-top-left-item">
                            <a href="#" class="nav-top-left-links">My Account</a>
                        </li>
                        <li class="nav-top-left-item">
                            <a href="#" class="nav-top-left-links">Deals</a>
                        </li>
                        <li class="nav-top-left-item">
                            <a href="#" class="nav-top-left-links">Wishlist</a>
                        </li>
                        <li class="nav-top-left-item">
                            <a href="#" class="nav-top-left-links">Blog</a>
                        </li>
                        <li class="nav-top-left-item">
                            <a href="#" class="nav-top-left-links">Login</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="nav-top-right">
                <ul class="nav-top-right-i-wrapper">
                    <li class="nav-top-right-counter">{{ itemCounter }}</li>
                    <li class="nav-top-right-i">
                        <ul class="nav-top-right-i-links">
                            <li class='nav-top-right-i-links-link'>
                                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>&nbsp; <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </li>
                        </ul>
                            <ul class='nav-top-right-dropdown'>
                                <li class='nav-top-right-dropdown-li'><app-top-nav-cart></app-top-nav-cart></li>
                            </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>
